Repository parcel-bundler/parcel, pull requests merged in 2020-12, with the labels that each got.

#4395 Transformer for Elm
  packages/configs/default/index.json
  packages/configs/default/package.json
  packages/core/integration-tests/test/elm.js
  packages/core/integration-tests/test/integration/elm/elm.json
  packages/core/integration-tests/test/integration/elm/package.json
  packages/core/integration-tests/test/integration/elm/yarn.lock
  packages/core/parcel/README.md
  packages/core/types/index.js
  packages/transformers/elm/package.json
  packages/transformers/elm/src/ElmTransformer.js
  yarn.lock
Labels: 🔌 Parcel 2 Plugins

#5486 Don't resolve and retransform assets in JSRuntime
  packages/core/core/src/BundleGraph.js
  packages/core/integration-tests/test/html.js
  packages/core/integration-tests/test/scope-hoisting.js
  packages/core/types/index.js
  packages/examples/internalize-example/async.js
  packages/examples/internalize-example/index-other.js
  packages/examples/internalize-example/index-sync.js
  packages/examples/internalize-example/index.html
  packages/examples/internalize-example/index.js
  packages/examples/internalize-example/package.json
  packages/runtimes/js/src/JSRuntime.js
  packages/shared/scope-hoisting/src/link.js
  packages/transformers/js/src/visitors/globals.js
Labels: :bullettrain_side: Performance

#5461 Performance improvements
  packages/core/core/src/AssetGraph.js
  packages/core/core/src/AssetGraphBuilder.js
  packages/core/core/src/BundlerRunner.js
  packages/core/core/src/Dependency.js
  packages/core/core/src/Environment.js
  packages/core/core/src/PackagerRunner.js
  packages/core/core/src/ParcelConfig.js
  packages/core/core/src/Transformation.js
  packages/core/core/src/UncommittedAsset.js
  packages/core/core/src/applyRuntimes.js
  packages/core/core/src/assetUtils.js
  packages/core/core/src/public/Asset.js
  packages/core/core/src/public/Config.js
  packages/core/core/src/requests/AssetRequest.js
  packages/core/core/src/requests/ParcelConfigRequest.js
  packages/core/core/src/requests/PathRequest.js
  packages/core/core/src/requests/TargetRequest.js
  packages/core/core/src/summarizeRequest.js
  packages/core/core/src/types.js
  packages/core/core/src/worker.js
  packages/core/core/test/Environment.test.js
  packages/core/core/test/TargetRequest.test.js
  packages/core/fs/src/NodeFS.js
  packages/core/utils/src/index.js
  packages/core/utils/src/md5.js
Labels: :bullettrain_side: Performance

#5487 Cache and asset graph bugfixes for query parameters
  packages/core/core/src/Transformation.js
  packages/core/core/src/UncommittedAsset.js
  packages/core/core/src/assetUtils.js
  packages/core/integration-tests/test/cache.js
  packages/core/integration-tests/test/image.js
  packages/core/integration-tests/test/integration/image-multiple-queries/index.html
  packages/core/integration-tests/test/integration/image-multiple-queries/snow.jpg
  packages/core/integration-tests/test/integration/image/reformat.html
  packages/core/types/index.js
Labels: :bug: Bug, 💰 Cache
